{% extends 'base.html' %}

{% block titlepage %}
Login
{% endblock %}

{% block mycontent %}
<h2>Login</h2>
{% if err_msg %}
<span>{{ err_msg }}</span>
{% endif %}
<form method="POST" action="{% url 'login_page' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username_field" class="form-label">Username</label>
      <input type="text" class="form-control" id="username_field" name="username">
    </div>
    <div class="mb-3">
      <label for="password_field" class="form-label">Password</label>
      <input type="password" class="form-control" id="password_field" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}