{% extends 'base.html' %}

{% block titlepage %}
Register
{% endblock %}

{% block mycontent %}
<h2>Register</h2>
<form method="POST" action="{% url 'register_page' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username_field" class="form-label">Username</label>
      <input type="text" class="form-control" id="username_field" name="username">
    </div>
    <div class="mb-3">
      <label for="password_field" class="form-label">Password</label>
      <input type="password" class="form-control" id="password_field" name="password">
    </div>
    <div class="mb-3">
      <label for="age_field" class="form-label">Age</label>
      <input type="number" class="form-control" id="age_field" name="age">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}